---
layout: default
---

<section class="is-black-alpha about hero is-middle">
  <div class="hero-body">
    <div class="container max_1000">

      <div class="columns is-multiline is-desktop">
        <div class="column">
          <div class="has-text-centered logo">
            <img src="assets/logo.png" width="175">
          </div>
        </div>

        <div class="column is-two-thirds-desktop">
          <div class="description" id="terminal">$ > cat about.md

            # Sapucaia.Tech - Montes Claros (MG)

            Somos uma <b>comunidade</b> com o <b>objetivo</b> de promover o <b>conhecimento</b> dos vários assuntos relacionados à <b>tecnologia</b> em Montes Claros e região.​

            A ideia partiu de um grupo de amigos e colegas que sentiram a <b>necessidade</b> de uma comunidade <b>ativa</b> e <b>unida</b> na cidade.

            Sinta-se livre para se juntar à nossa comunidade!

            (:

            $ > <span contenteditable id="cursor-blink"></span><span class="blink-cursor" role="cursor-blink">_</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

{% if site.posts.size > 0 %}
  {% include index_blog.html %}
{% endif %}

{% include proximo_encontro.html %}

{% include agenda.html %}
