body {
  font-family: 'Ubuntu Mono', monospace;
}

.wrapper-with-borders {
  border-color: #222;
  border-style: solid;
  border-width: 10px 0;
}

.description {
  color: #8ae234;
  font-size: 1em;
  white-space: pre-line;
  text-shadow: 1px 1px 1px #000;
}
.description::after,
.description::before {
  top: -25px;
  width: 15px;
  height: 15px;
  content: "";
  display: block;
  position: absolute;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  border-radius: 100%;
}
.description::after {
  right: 10px;
  background-color: rgb(36, 173, 54);
}
.description::before {
  right: 30px;
  background-color: rgb(203, 50, 50);
}

@media (min-width: 500px) {
  .description {
    position: relative;
    font-size: 1.1em;
    white-space: pre-line;
  }
}
@media (min-width: 768px) {
  .description {
    font-size: 1.3em;
  }
}

.blink-cursor {
  font-weight: bold;
  background-color: #8ae234;
  padding: 2px;
  color: #333;

  animation-name: blink-cursor;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes blink-cursor {
  0% {}
  100% {
    background-color: #333;
    color: #8ae234;
  }
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.links a {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80px;
}
.links .fa {
  font-size: 3em;
}
