<section class="hero is-success bordas-verdes contatos">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h3 class="title is-bold is-3">Encontre-nos na web:</h3>

      <div class="links">
        <a href='https://t.me/joinchat/AAAAAA1Qbn8lBvet00nrlw' target="_blank">
          <span class="fa fa-telegram"></span>
          Telegram
        </a>

        <a href='https://github.com/sapucaia-tech' target="_blank">
          <span class="fa fa-github"></span>
          GitHub
        </a>
      </div>

    </div>
  </div>
</section>
