<section class="hero is-black contatos">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h3 class="title is-bold is-3">Encontre-nos na web:</h3>

      <div class="links">
        <a href='{{ site.telegram }}' target="_blank">
          <span class="fa fa-telegram"></span>
          Telegram
        </a>

        <a href='{{ site.github }}' target="_blank">
          <span class="fa fa-github"></span>
          GitHub
        </a>
      </div>

    </div>
  </div>
</section>
