<section class="hero is-black contatos">
  <a name="contatos"></a>

  <div class="hero-body">
    <div class="container has-text-centered">
      <h3 class="title is-bold is-3">Encontre-nos na web:</h3>

      <div class="links">
        <a href='{{ site.telegram }}' target="_blank" title="Telegram">
          <span class="fa fa-telegram"></span>
          Telegram
        </a>

        <a href='{{ site.github }}' target="_blank" title="GitHub">
          <span class="fa fa-github"></span>
          GitHub
        </a>

        <a href='{{ site.youtube }}' target="_blank" title="YouTube">
          <span class="fa fa-youtube-play"></span>
          YouTube
        </a>

        <a href='{{ site.facebook }}' target="_blank" title="Facebook">
          <span class="fa fa-facebook-official"></span>
          Facebook
        </a>
      </div>

    </div>
  </div>
</section>
