<nav class="navbar" id="top_bar">
  <div class="menu-bar is-flex is-hidden-desktop">
    <a href="{{ site.url }}" class="menu-title">
      <img alt="sapucaia.tech" src="favicon.png" /> sapucaia.tech
    </a>
    <button class="button navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div class="navbar-brand is-flex-desktop menu-drop">
    <a href="/blog" class="navbar-item">
      <span class="fa fa-newspaper-o"></span>&nbsp;blog
    </a>

    <strong class="navbar-item pipe">|</strong>

    <a href="/agenda" class="navbar-item">
      <span class="fa fa-calendar"></span>&nbsp;agenda
    </a>

    <strong class="navbar-item pipe">|</strong>

    <a href="#contatos" class="navbar-item">
      <span class="fa fa-comments-o"></span>&nbsp;contatos
    </a>
  </div>
</nav>
