<section class="hero is-light" id="feed">
  <a name="feed"></a>

  <div class="hero-body">
    <div class="container max_1000">
      <h3 class="title is-bold is-3"><span class="fa fa-newspaper-o"></span>&nbsp;Blog</h3>

      <hr>


      <ul class="post-list columns">
        {% for post in site.posts limit: 2 %}
          <li class="column is-half">
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <div class="post-excerpt">{{ post.excerpt }}</div>
            <a href="{{ post.url | prepend: site.baseurl }}" class="button is-dark is-small">
              Leia mais
            </a>
          </li>
        {% endfor %}
      </ul>


      {% if site.posts.size > 2 %}
      <div class="has-text-centered">
        <a href="/blog" title="Blog do Sapucaia.Tech" class="button is-dark">
          <span class="icon">
            <i class="fa fa-plus"></i>
          </span>
          <span>ver todos os posts</span>
        </a>
      </div>
      {% endif %}

    </div>
  </div>
</section>
