.contatos {
  @include border-top(#111);
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.links a {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80px;
}
.links .fa {
  font-size: 3em;
}
