#feed {
  @include border-top(#222);
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: 30px;
        border-bottom: 1px solid $light;
        padding-bottom: 30px;
    }
}

.post-meta {
    font-size: 16px;
    color: $dark;
    font-weight: 600;
}

.post-excerpt {
  margin: 5px 0 10px;
  padding-top: 5px;
  border-top: 2px solid #222;
}

.post-link {
    display: block;
    font-size: 24px;
}


/**
 * Posts
 */
.post-container {
  max-width: 900px;
}
.post-header {
    margin-bottom: 30px;
}

.post-title {
    font-size: 42px;
    line-height: 1;
    font-weight: bold;
    letter-spacing: -1px;

    @include media-query($desktopDown) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: 30px;

    a {
      font-weight: bold;
      text-decoration: underline;
    }

    p, ul {
      margin-bottom: 25px;
    }

    ul, li {
      list-style: initial;
      margin-left: 15px;
    }

    h2, h3, h4 {
      margin-bottom: 10px;
      margin-top: 30px;
    }

    h2 {
        font-size: 32px;
        font-weight: bold;
        border-bottom: 2px solid #222;

        @include media-query($desktopDown) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($desktopDown) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($desktopDown) {
            font-size: 18px;
        }
    }
}
