<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sapucaia Tech | Comunidade de tecnologia de Montes Claros (MG)</title>
    <meta name="theme-color" content="#98bf49">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
    <link href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="assets/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {{ content }}
  </body>
</html>
