<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    {% seo %}

    <title>{{ site.title }}</title>
    <meta name="theme-color" content="#222222">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.min.css">
    <link href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    {% include header.html %}
    {{ content }}
    {% include contatos.html %}
    <script src="script.js" charset="utf-8"></script>
  </body>
</html>
